.font-heading  {
    font-family: 'ADLaM Display', cursive;
}

.font-body  {
    font-family: 'Montserrat', sans-serif;
}

.bg-main     {
    background-color: #222;
}

.text-main     {
    color: #222;
}
